.btn {
    text-decoration: none;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    position: relative;
    top: 2vw;
    left: 27vw;
    background: #10cfbd;
    color: #fff;
}
.btn-submit {
    width: 7vw!important;
}