.cls-1 {
    fill: none;
    stroke: #10cfbd;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 19091.802734375;
    stroke-dashoffset: 19091.802734375;
}
.cls-2 {
    fill: #10cfbd;
}
.cls-3 {
    fill: #1a1a1a;
}