.cls-1 {
    fill: none;
    stroke: #10cfbd;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 19091.802734375;
    stroke-dashoffset: 18491.802734375;
}
.cls-2 {
    fill: #10cfbd;
}
.cls-3 {
    fill: #1a1a1a;
}
.cls-22 {
    fill: #10cfbd;
}
.cls-32 {
    fill: #1a1a1a;
}
.cls-23 {
    fill: #10cfbd;
}
.cls-33 {
    fill: #1a1a1a;
}
.cls-24 {
    fill: #10cfbd;
}
.cls-34 {
    fill: #1a1a1a;
}
.cls-25 {
    fill: #10cfbd;
}
.cls-35 {
    fill: #1a1a1a;
}