// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.background-text {
    font-size: 27vw;
    color: $light-grey;
    font-weight: bolder;
    position: relative;
    text-align: center;
    pointer-events: none;
    top: 8vw;
}
.background-text:before {
    content: "";
    margin-left: -100%;
}
.background-text:after {
    content: "";
    margin-right: -100%;
}

.background-text-about-us {
    @extend .background-text;
    top: 18vw;
    font-size: 32vw;
}
.text-brand {
    color: $brand-color;
}
.title-text {
    font-weight: bold;
    font-size: 3vw;
    line-height: 1.6vw;
    position: absolute;
    left: 10vw;
    top: 25vw;
    .text-brand {
        font-size: 1.2vw;
    }
}
.text-about-us {
    left: 49vw;
    top: 69vw;
    font-size: 2vw;
    line-height: 1.3vw;
    .text-brand {
        font-size: 0.9vw;
    }
}
.svg-fullheight-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
.triggers {
    position: absolute;
    top: 50vh;
}
.svg-circle-in-line {
    position: absolute;
    left: 31.75vw;
    height: 4vw;
    top: 24.4vw;
}
.svg-circle-in-line2 {
    @extend .svg-circle-in-line;
    top: 68vw;
    left: 62.84vw;
}
.body-text-about-tessact {
    position: absolute;
    width: 30vw;
    right: 21vw;
    top: 75vw;
}
body {
    padding-bottom: 100vh;
}