// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.background-text-tessact {
    top: 8vw;
    font-size: 24vw;
}
.background-text-about-us {
    top: 50vw;
    font-size: 29vw;
}
.background-text-features {
    top: 100vw;
    font-size: 20.5vw;
}
.background-text-use-cases {
    top: 170vw;
    font-size: 20vw;
}
.title-text {
    font-weight: bold;
    font-size: 3vw;
    line-height: 1.6vw;
    position: absolute;
    left: 10vw;
    top: 25vw;
    .text-brand {
        font-size: 1.2vw;
    }
}
.text-about-us {
    left: 49vw;
    top: 69vw;
    font-size: 2vw;
    line-height: 1.3vw;
    .text-brand {
        font-size: 0.9vw;
    }
}
.svg-fullheight-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
.svg-circle-in-line {
    position: absolute;
    left: 31.75vw;
    height: 4vw;
    top: 24.4vw;
}
.svg-circle-in-line2 {
    @extend .svg-circle-in-line;
    top: 68vw;
    left: 62.84vw;
}
.svg-circle-in-line3 {
    @extend .svg-circle-in-line;
    top: 118vw;
    left: 31.64vw;
}
.svg-circle-in-line4 {
    @extend .svg-circle-in-line;
    top: 179.5vw;
    left: 52.4vw;
}
.body-text-about-tessact {
    position: absolute;
    width: 30vw;
    right: 21vw;
    top: 95vw;
}
.svgs {
    position: absolute;
    top:0;
}
body {
    padding-bottom: 100vh;
}
.text-features {
    top: 119.4vw;
    left: 40vw;
}
.features-items > div {
    position: absolute;
    top: 154vw;
    transform: rotate(-45deg);
    min-width: 200px;
    text-align: right;
    font-weight: bold;
    color: #999;
}
.fitem1 {
    left: 10vw;
}
.fitem2 {
    left: 20vw;
}
.fitem3 {
    left: 30vw;
}
.fitem4 {
    left: 40vw;
}
.fitem5 {
    left: 50vw;
}
.fitem6 {
    left: 60vw;
}